---
import ArrowRight from "@/icons/ArrowRight.astro"
import Button from "../Button.astro"

type Props = {
	totalPages: number
	currentPage: number
}

const { totalPages, currentPage } = Astro.props

const isOnlyOnePage = totalPages === 1
---

<nav class:list={["flex w-full justify-between gap-2", isOnlyOnePage && "hidden"]}>
	<Button class="bg-accent shadow-lg hover:bg-dark-primary" component="a" href={"/"}>
		<ArrowRight color="foreGroundColor" class="rotate-180" /></Button
	>

	<Button class="bg-accent shadow-lg hover:bg-dark-primary" component="a" href={"/"}>
		<ArrowRight color="foreGroundColor" /></Button
	>
</nav>
