---
import Layout from "@/layouts/Layout.astro"
import { getCollection } from "astro:content"

const allPosts = await getCollection("posts")

const pageTitle = "My Astro Learning Blog"
---

<Layout title={pageTitle}>
	<ul>
		{
			allPosts.map((post) => (
				<li>
					<a href={`/blog/${post?.slug}/`}>{post.data.title}</a>
				</li>
			))
		}
	</ul>
</Layout>
