---
import Layout from "@/layouts/Layout.astro"
const allPosts = await Astro.glob("@/pages/blog/**/*.md")
const pageTitle = "My Astro Learning Blog"

console.log("allPosts", allPosts)
---

<Layout title={pageTitle}>
	<ul>
		{
			allPosts.map((post) => (
				<li>
					<a href={post.url}>{post.frontmatter.title}</a>
				</li>
			))
		}
	</ul>
</Layout>
