@tailwind base;
@tailwind utilities;

@layer base {
	:root {
		--background-color: 0 0% 100%;
		--primary: 145 44% 40%;
		--ligh-primary: 145 81% 92%;
		--dark-primary: 145 18% 34%;
		--accent: 145 48% 61%;
		--neutral-primary: 0, 0%, 23%;
		--neutral-secondary: 0, 0%, 27%;
		--foreground-color: 0, 0%, 100%;
	}

	[data-theme="dark"] {
		--background-color: 0 0% 11%; /* Darker background */
		--primary: 145 44% 60%; /* Lighter to maintain visibility */
		--light-primary: 145 81% 30%; /* Darkened for dark theme contrast */
		--dark-primary: 145 18% 70%; /* Lighter version for subtle shading */
		--accent: 145 48% 70%; /* Brighter accent */
		--neutral-primary: 0 0% 80%; /* Lightened for readability */
		--neutral-secondary: 0 0% 70%; /* Slightly darker than the primary neutral */
		--foreground-color: 0 0% 100%; /* Typically stays white for text readability */
	}

	.article p {
		@apply mb-6;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply text-neutral-primary;
	}

	.article h1,
	.article h2,
	.article h3,
	.article h4,
	.article h5,
	.article h6 {
		@apply mb-8 font-bold;
	}

	.article img {
		@apply h-80 w-full self-center rounded-2xl object-cover;
	}
}
/* 
@media (prefers-color-scheme: dark) {
	:root {
		--background-color: 0 0% 11%;
		--primary: 145 44% 60%;
		--light-primary: 145 81% 30%;
		--dark-primary: 145 18% 70%;
		--accent: 145 48% 70%;
		--neutral-primary: 0 0% 80%;
		--neutral-secondary: 0 0% 70%;
		--foreground-color: 0 0% 100%;
	}
} */

html.smooth-scroll {
	scroll-behavior: smooth;
}

body {
	color: hsl(var(--neutral-secondary));
	font-family: "Montserrat Variable", sans-serif;
}
