---
import Navigation from "@/components/Header/Navigation.astro"
import paths from "@/constants/paths"
import AvocatoAcademiaIcon from "@/icons/AvocatoAcademiaIcon.astro"
import DotsMenu from "@/icons/DotsMenu.astro"
---

<header class="relative">
	<div class="mx-5 my-3 flex items-center justify-between">
		<a href={paths.home} aria-label="Go to home page">
			<AvocatoAcademiaIcon size="xl" color="accent" />
		</a>

		<button id="menu-toggle">
			<DotsMenu size="base" />
		</button>
	</div>
	<Navigation />
</header>
<script>
	import "./Header.ts"
</script>
