---
import FacebookIcon from "@/icons/FacebookIcon.astro"
import InstagramIcon from "@/icons/InstagramIcon.astro"
import WhatsappIcon from "@/icons/WhatsappIcon.astro"
import Button from "../Button.astro"
import ButtonNavigation from "./ButtonNavigation.astro"
import { hideElementClasses } from "./constants"

const absolutePosition = "absolute right-0 top-full z-10"
---

<nav
	id="navigation-menu"
	class:list={[
		"flex w-full flex-col gap-3 bg-light-primary p-4 transition-opacity duration-300 ease-in-out",
		hideElementClasses,
		absolutePosition,
	]}
>
	<ul>
		<li class="">
			<a href="/">
				<ButtonNavigation> Inicio</ButtonNavigation>
			</a>
		</li>
		<li class="">
			<a href="/">
				<ButtonNavigation> Servicios</ButtonNavigation>
			</a>
		</li>
		<li class="">
			<a href="/">
				<ButtonNavigation> Nosotros</ButtonNavigation>
			</a>
		</li>
		<li class="">
			<a href="/">
				<ButtonNavigation> Blog</ButtonNavigation>
			</a>
		</li>

		<li class="mt-5 flex justify-center">
			<a href="/">
				<Button
					class="duration-250 bg-accent text-foreground-color transition ease-in-out hover:bg-dark-primary"
				>
					Contáctanos ahora</Button
				>
			</a>
		</li>
	</ul>

	<ul class="ga flex justify-center gap-3">
		<li class="">
			<a href="/"> <FacebookIcon /> </a>
		</li>
		<li class="">
			<a href="/"> <InstagramIcon /> </a>
		</li>
		<li class="">
			<a href="/"> <WhatsappIcon /> </a>
		</li>
	</ul>
</nav>
