---
import FacebookIcon from "@/icons/FacebookIcon.astro"
import InstagramIcon from "@/icons/InstagramIcon.astro"
import WhatsappIcon from "@/icons/WhatsappIcon.astro"
import { cn } from "@/utils/cn"
import ButtonNavigation from "./ButtonNavigation.astro"
import { hideElementClasses } from "./constants"

const absolutePosition = "absolute right-0 top-full z-10"
---

<nav
	id="navigation-menu"
	class={cn(
		"bg-light-primary  flex w-full flex-col gap-3 transition-opacity duration-300 ease-in-out p-4",
		hideElementClasses,
		absolutePosition
	)}
>
	<ul>
		<li class="">
			<a href="/">
				<ButtonNavigation> Inicio</ButtonNavigation>
			</a>
		</li>
		<li class="">
			<a href="/">
				<ButtonNavigation> Servicios</ButtonNavigation>
			</a>
		</li>
		<li class="">
			<a href="/">
				<ButtonNavigation> Nosotros</ButtonNavigation>
			</a>
		</li>
		<li class="">
			<a href="/">
				<ButtonNavigation> Blog</ButtonNavigation>
			</a>
		</li>

		<li class="mt-5 flex justify-center">
			<a href="/">
				<button
					class="hover:bg-dark-primary text-foreground-color duration-250 rounded-full bg-accent px-4 py-2 transition ease-in-out"
				>
					Contáctanos ahora</button
				>
			</a>
		</li>
	</ul>

	<ul class="ga flex justify-center gap-3">
		<li class="">
			<a href="/"> <FacebookIcon /> </a>
		</li>
		<li class="">
			<a href="/"> <InstagramIcon /> </a>
		</li>
		<li class="">
			<a href="/"> <WhatsappIcon /> </a>
		</li>
	</ul>
</nav>
