---
import AvocatoAcademiaIcon from "../icons/AvocatoAcademiaIcon.astro"
import FacebookIcon from "../icons/FacebookIcon.astro"
import InstagramIcon from "../icons/InstagramIcon.astro"
import WhatsappIcon from "../icons/WhatsappIcon.astro"
---

<hr class="my-10 border-primary" />

<footer class="mx-5 my-3 flex flex-col items-center">
	<AvocatoAcademiaIcon color="accent" class="h-20" />

	<p>
		Lorem ipsum dolor sit amet consectetur. Morbi dui placerat amet risus. Lacus mus tristique
		ultrices iaculis lorem amet amet. Enim aliquam massa arcu volutpat eu aliquam. Etiam commodo
		feugiat amet auctor eget diam eget.
	</p>

	<a href="">Servicios</a>

	<a href="">Nosotros</a>
	<a href="">Blog</a>
	<a href="">Contactanos ahora</a>

	<a
		href="https://twitter.com/yourprofile"
		aria-label="Follow us on Instagram"
		class="flex items-center space-x-2"
	>
		<InstagramIcon />
	</a>
	<a
		href="https://twitter.com/yourprofile"
		aria-label="Follow us on Facebook"
		class="flex items-center space-x-2"
	>
		<FacebookIcon />
	</a>
	<a
		href="https://twitter.com/yourprofile"
		aria-label="Contact us on whatsapp"
		class="flex items-center space-x-2"
	>
		<WhatsappIcon />
	</a>
</footer>
