---
import FacebookIcon from "@/icons/FacebookIcon.astro"
import InstagramIcon from "@/icons/InstagramIcon.astro"
import WhatsappIcon from "@/icons/WhatsappIcon.astro"
import AvocatoAcademiaIcon from "../icons/AvocatoAcademiaIcon.astro"
import Button from "./Button.astro"
import ButtonNavigation from "./Header/ButtonNavigation.astro"
---

<hr class="my-10 border-primary" />

<footer class="mx-auto my-3 flex max-w-7xl flex-col items-center gap-6">
	<AvocatoAcademiaIcon color="accent" class="h-20" />

	<p class="max-w-4xl text-center text-sm">
		Lorem ipsum dolor sit amet consectetur. Morbi dui placerat amet risus. Lacus mus tristique
		ultrices iaculis lorem amet amet. Enim aliquam massa arcu volutpat eu aliquam. Etiam commodo
		feugiat amet auctor eget diam eget.
	</p>

	<ul>
		<li class="">
			<a href="/">
				<ButtonNavigation> Inicio</ButtonNavigation>
			</a>
		</li>
		<li class="">
			<a href="/">
				<ButtonNavigation> Servicios</ButtonNavigation>
			</a>
		</li>
		<li class="">
			<a href="/">
				<ButtonNavigation> Nosotros</ButtonNavigation>
			</a>
		</li>
		<li class="">
			<a href="/">
				<ButtonNavigation> Blog</ButtonNavigation>
			</a>
		</li>

		<li class="mt-5 flex justify-center">
			<a href="/">
				<Button
					class="duration-250 bg-accent text-foreground-color transition ease-in-out hover:bg-dark-primary"
				>
					Contáctanos ahora</Button
				>
			</a>
		</li>
	</ul>

	<ul class="ga flex justify-center gap-3">
		<li class="">
			<a href="/"> <FacebookIcon /> </a>
		</li>
		<li class="">
			<a href="/"> <InstagramIcon /> </a>
		</li>
		<li class="">
			<a href="/"> <WhatsappIcon /> </a>
		</li>
	</ul>
</footer>
