---
// interface Props {
// 	title: string;
// }

// const { title } = Astro.props;
---


<a href="/">Home</a>
<a href="/about/">About</a>
<a href="/blog/">Blog</a>

<script>
    import './Header.ts'
</script>