---
import paths from "../constants/paths";
import AvocatoAcademiaIcon from "../icons/AvocatoAcademiaIcon.astro";
import DotsMenu from "../icons/DotsMenu.astro";
---

<header class="flex items-center justify-between mx-5 my-3">
  <a href={paths.home} aria-label="Go to home page">
    <AvocatoAcademiaIcon size="xl" color="accent" />
  </a>

  <button>
    <DotsMenu size="base" />
  </button>
</header>
<script>
  import "./Header.ts";
</script>
