---
const props = Astro.props
---

<div class="flex flex-wrap items-center justify-center gap-10">
	<div class="flex flex-wrap justify-center gap-4" {...props}><slot /></div>
	<slot name="date" />
</div>
