---
import { cn } from "@/utils/cn"
import type { HTMLAttributes } from "astro/types"
import { cva, type VariantProps } from "class-variance-authority"
import FormattedDate from "../FormattedDate.astro"

const overlayVariants = cva("absolute top-0 h-full w-full ", {
	variants: {
		overlay: {
			full: "bg-dark-primary/60",
			gradient: "bg-gradient-to-t from-dark-primary ",
		},
	},
	defaultVariants: {
		overlay: "full",
	},
})

type Props = HTMLAttributes<"a"> & {
	date: Date
	tags: string[]
	title: string
} & VariantProps<typeof overlayVariants>

const { class: className, date, tags, title, overlay, ...props } = Astro.props
---

<a class={cn("rounded-2xl overflow-hidden relative text-foreground-color", className)} {...props}>
	<slot name="image" />

	<div class={cn(overlayVariants({ overlay }))}></div>

	<div class="absolute top-0 flex h-full w-full flex-col justify-end p-8 text-foreground-color">
		<div class="flex flex-col justify-end gap-6">
			<span> {tags.join(", ")} </span>
			<h3 class="text-2xl font-bold text-foreground-color lg:text-3xl">
				{title}
			</h3>

			<FormattedDate date={date} />
		</div>
	</div>
</a>
