---
import { cn } from "@/utils/cn"
import type { HTMLAttributes } from "astro/types"
import FormattedDate from "../FormattedDate.astro"

type Props = HTMLAttributes<"a"> & {
	date: Date
	tags: string[]
	title: string
}

const { class: className, date, tags, title, ...props } = Astro.props
---

<a
	class={cn(
		"flex gap-4 hover:bg-light-primary  rounded-2xl overflow-hidden hover:shadow-lg",
		className
	)}
	{...props}
>
	<slot name="image" />

	<div class="flex flex-col justify-around gap-2 p-4">
		<span class="text-primary"> {tags.join(", ")} </span>
		<h3 class="text-2xl font-bold lg:text-3xl">
			{title}
		</h3>

		<FormattedDate date={date} />
	</div>
</a>
