---
import Header from "@/components/Header/Header.astro"
import "@fontsource-variable/montserrat"
import Footer from "../components/Footer.astro"
import "../styles/global.css"

interface Props {
	title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en" class="bg-background-color">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<main class="pt-28">
			<slot class="my-10" />
		</main>

		<Footer />
	</body>
</html>
