---

import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';

interface Props {
	title: string;
    frontmatter : any;
}


const { frontmatter } = Astro.props;
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header />

        <h1>{frontmatter.title}</h1>
<p>Written by {frontmatter.author}</p>
<slot />
<slot />



		<Footer />
	</body>
</html>
