---
import "@fontsource-variable/montserrat"

import { cn } from "@/utils/cn"
import type { HTMLAttributes } from "astro/types"
import "../styles/global.css"

type Props = {
	title: string
} & HTMLAttributes<"html">

const { title } = Astro.props

const { class: className, ...props } = Astro.props
---

<!doctype html>
<html lang="en" class={cn("bg-background-color", className)} {...props}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<slot name="head" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot name="header" />
		<slot />

		<slot name="footer" />
	</body>
</html>
