---
import Layout from "@/layouts/Layout.astro"
import { getCollection } from "astro:content"

const allPosts = await getCollection("")

const pageTitle = "My Astro Learning Blog"

console.log("allPosts", allPosts)
---

<Layout title={pageTitle}>
	<ul>
		{
			allPosts.map((post) => (
				<li>
					<a href={`/posts/${post?.slug}/`}>{post.data.title}</a>
				</li>
			))
		}
	</ul>
</Layout>
